body{
  margin:0;
  background:#0f172a;
  font-family:Arial, sans-serif;
}

.app{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(
    180deg,
    #09111f,
    #1e293b
  );
}

.dynamic-island{
  position:absolute;
  top:20px;
  background:black;
  color:white;
  padding:12px 30px;
  border-radius:30px;
  font-size:14px;
}

.glass{
  width:360px;
  height:700px;
  border-radius:40px;
  backdrop-filter:blur(20px);
  background:rgba(255,255,255,.08);
  border:1px solid rgba(255,255,255,.15);
  text-align:center;
  color:white;
  padding-top:40px;
}

.bear{
  width:180px;
  margin-top:20px;
}

.eyes{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:-90px;
}

.eye{
  width:12px;
  height:12px;
  background:#111;
  border-radius:50%;
}

.mouth{
  width:35px;
  height:12px;
  background:#111;
  border-radius:20px;
  margin:20px auto;
}

.wave{
  display:flex;
  justify-content:center;
  gap:8px;
  margin-top:30px;
}

.wave span{
  width:8px;
  height:40px;
  background:#ff7eb6;
  border-radius:20px;
  animation:wave 1s infinite;
}

.wave span:nth-child(2){
  animation-delay:.2s;
}

.wave span:nth-child(3){
  animation-delay:.4s;
}

.wave span:nth-child(4){
  animation-delay:.6s;
}

.wave span:nth-child(5){
  animation-delay:.8s;
}

@keyframes wave{
  50%{
    height:90px;
  }
}

.subtitle{
  opacity:.8;
}

.buttons{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:20px;
}

.buttons button{
  width:75px;
  height:75px;
  border:none;
  border-radius:50%;
  color:white;
  cursor:pointer;
}

.mic{
  background:#ff4d6d;
}

.mic.active{
  background:#22c55e;
}

.speaker{
  background:#3b82f6;
}